private/
readwise/
.obsidian/workspace
.DS_Store
.trash
.obsidian/workspace.json
.obsidian/workspace-mobile.json
security
.obsidian/plugins/
templates/template_ai_summary.md
templates/create_tag_from_ai.md
.smtcmp_chat_histories



# Ignore Smart Environment folder
.smart-env
